<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/'>Dating App</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container  *ngIf="accountService.currentUser$ | async" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink='/members' routerLinkActive='active'>Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLink = '/messages' routerLinkActive='active'>Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()" routerLink= '/**'>Logout</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink= '/errors'>errors</a>
          </li>
        </ul>
        
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a href="" class="dropdown-toogle text light" dropdownToggle>Welcome User{{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownToggle>
            <a href="" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-diveder"></div>
            <a href="" class="dropdown-item" (click)="logout()">logout</a>
          </div>
        </div>
        
        
        <form *ngIf="(accountService.currentUser$ | async) === null"
          [hidden]
          #loginForm="ngForm"
          class="d-flex"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <input
            name="Username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text"
            placeholder="Username"
          />
          <input
            class="form-control me-2"
            [(ngModel)]="model.password"
            name="password"
            type="password"
            placeholder="Password"
          />
          <button class="btn btn-outline" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</nav>
